body {
  background: linear-gradient(
    to bottom right,
    #223a5e,
    #2e6fa7,
    #00a8e8,
    #37d5d6
  );
}

h1,
h2 {
  color: #ffffff;
  text-shadow: 2px 4px 4px #000000;
}

.App {
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

input {
  padding: 2vh;
  width: 100%;
  max-width: 350px;
  font-size: 1rem;
  border-radius: 0.5rem;
}

img {
  border-radius: 0.5rem;
  width: 80px;
}

span {
  font-size: 4rem;
  padding: 0.5rem;
  cursor: pointer;
}
